<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action=""> <a href="/movies">All movies here!</a></form>
<form><a href="/celebrities">All celebrities here!</a></form>
<form action=""> <a href="/celebrities/create">Create a new celebrity</a></form>